.product-block img {
    width: 200px;
    height: 200px;
}
.Item {
    max-width: 500px;
    margin: 0 auto;
}
.product-block h5 {
    color: green;
    font-weight: normal;
    font-size: 24px;
    margin-top: 20px;
}
.product-block button {
    color: darkblue;
    font-size: 16px;
    background: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 30px;
}
.product-block a {
    color: black;
    text-decoration: none;
    border: 2px solid black;
    padding: 3px 7px;
    font-size: 18px;
}
.delete-block button {
    color: black;
}
.delete-block button:hover {
    color: brown;
}